.heroSection, .grid2Column{
    display: grid;
    gap: 1rem;
}
.heroSection{
    min-height: 459px;
    margin-block: 4rem 2rem;
}
.heroArticle h1, .heroArticle p{
    margin-bottom: 2rem;
}

.imageLayout{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; */
    text-align: center;
}
.imageGroup{
    display: inline-block;
    /* border: 1px solid blue; */
    height: 100%;
    /* flex-direction: column;
    justify-content: flex-end; */
}
/* .imageGroup:first-of-type{
    vertical-align:
} */
/* .imageGroup::after{
    content: '';
    height: 100%;
    display: block;
    border: 4px solid pink;
} */
.imageContainer{
    text-align: center;
    width: 180px;
    /* height: 42%; */
    /* object-fit: cover; */
    overflow: hidden;
    border-radius: 15px;
    margin: .2rem;
}
.imageGroup:first-of-type .imageContainer:last-of-type{
    /* margin-top: 5rem; */
    /* display: none; */
    /* padding-top: 5rem; */
    margin-bottom: -40%;
}
.heroAction{
    margin-top: 1rem;
}
.heroAction input{
    border: 1px solid hsl(0, 0%, 70%);
    width: 60%;
    padding: 1.2rem 1rem;
    border-radius: 10px 0px 0px 10px;
    background-color: transparent;
}
.heroAction button{
    width: 30%;
    padding: 1.2rem 1.5rem;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}
.imageSlider{
    /* layout styles */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* appearance styles */
    background-color: var(--primary-color);
    padding-inline: 4rem;
    padding-block: .5rem;
}
.imageSlider div{
    width: 180px;
}

.cardInfo h2{
    padding-inline: 4rem;
    padding-block-start: 1rem;
    text-align: center;
}
.moreInfo{
    background-color: var(--primary-color);
    padding-block: 2rem;
    color: white;
    position: relative;
}
.moreInfo button{
    background-color: white;
    color: var(--primary-color);
}
.moreInfo h2, .moreInfo p{
    margin-bottom: 2rem;
}
.infoImg{
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    width: 200px;
}
.rotate1{
    height: 253.89px;
    right: 180px;
    top: 40%;
    /* top: 333.13px; */
    transform: rotateZ(-26.02deg);
}
.rotate2{
    top: 10%;
    right: 40px;
    transform: rotateZ(17.76deg);
}
.rotate3{
    right: 35px;
    top: 45%;
    transform: rotateZ(-8.76deg);
}
/*media queries*/
@media (min-width: 48em){
    .heroSection, .grid2Column{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        /* min-height: 50vh; */
    }
}