.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 4rem;
    font-size: .8rem;
}
.footerLogo{
    width: 180px;
}
.socialIcons{
    margin-top: 2rem;
}
.socialIcons > span{
    display: inline-block;

}
.socialIcons > span:not(:first-of-type){
    margin-left: 1rem;
}
.copyright{
    font-size: .8rem;
    margin-top: 2rem;
}
.footer li{
    color: hsl(0, 0%, 80%);
    margin-top: .5rem;
}
@media (max-width: 46rem) {
    .footer{
        flex-direction: column;
        text-align: center;
    }
    .footer > *{
        margin-top: 1rem;
    }
}