.navBar{
    padding-block: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
}
.logoContainer{
    width: 180px;
}

.navList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navList li{
    padding-inline: 20px;
    color: inherit;
}

.navButton{
    background-color: hsl(0, 0%, 50%);
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    font: inherit;
}