
/* component classes */
.inline-padding{
    padding-inline: 4rem;
}

.link-active{
    color: var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    padding: .2rem;
}
.emphasis{
    color: var(--primary-color);
}