:root {
  --primary-color-gradient: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  --primary-color: #A02279;


  border-radius: 10px;
  font-family: 'Red Rose', cursive, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  color: black;
}
*,
*::before,
*::after{
  margin: 0;
  box-sizing: border-box;
}
a{
  font: inherit;
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
  height: auto;
}
h1{
  font-size: 3rem;
  line-height: 1.5;
}
h2{
  font-size: 2.5rem;
  line-height: 1.5;
}
p{
  font-size: 1.2rem;
}
button{
  padding: .5rem 1rem;
  border-radius: 10px;
  border: none;
}
ul{
  padding: 0px;
}